@import 'tailwindcss';
@import 'aos/dist/aos.css';
@import './home.css';
@import './about.css';
@import './services.css';
@import './service-modal.css';
@import './notification.css';
@import './insights.css';
@import './insights-detail.css';
@import './career.css';
@import './contact.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
